
node_modules/
/dist/
/target/
.cargo/
*.happ
*.webhapp
*.zip
*.dna
.hc*
.hc
.running
.vscode
.idea
.zed
.windsurf
.cursor
.augment

# Temporary files for work in progress
wip.md

# temporary ignore .github
.github